@import "tailwindcss";

:root {
  --background: oklch(98.7% 0.026 102.212);
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: 'Lucida Sans', 'Segoe UI', verdana, monospace, sans-serif, Arial, Helvetica; */
  font-family:'Comic Sans MS', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* global colour themes */
@theme {
  /* Colours */
  --color-primary: oklch(20.5% 0 0);
  --color-accent: oklch(42.4% 0.199 265.638);
  --color-active: oklch(55.2% 0.016 285.938);

  --color-hlink: oklch(62.3% 0.214 259.815);
}

@layer base {
  a {
    color: var(--color-hlink)
  }

  ol {
    padding-top: 10px;
    padding-left: 20px;
  }

  li {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}

/* at rule before is used to detect whether the user is in dark or light mode */
/* @media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
} */
